/* footerを一番下に固定した時に余白が発生したら htmlとbodyのheightを100%に設定する。*/
html{
	height:100%;
}
body{
	color:black;
	background:aliceblue;
	margin:0;
	height:100%;

}
.header{
	border:solid 1px black;
	text-align:center;
	
}
/* ナビバーの設定 */
nav{
	text-align:center;
}
nav ul{
	margin:20px auto;
	padding:0;
	text-align: center;
	width:80%;
}
nav ul li{
	/* 点をなくす */
	list-style:none;
	/* 横に並べる */
	display:inline-block;
	
	border-top:solid 3px orange;
	margin:0 auto;
	padding-top:5px;
	
	min-width:10px;
	background:white;
	border-right:solid 3px silver;
}
nav ul li a{
	padding:3px 0;
	/*下線を消す*/
	text-decoration:none;
}
/* 要素の中の最後のやつ以外に反映させる 
nav ul li:not(:last-child){
	border-right:solid 3px silver;
}*/


nav a:visited{
	color:#00ccff;
}
nac ul li.current a{
	color:yellow;
	border-bottom:solid 3px red;;
}
nav a:hover{
	color:red;
	font-weight:bold;
	border:solid 1px black;
}
/* 終わり */
nav ul{
	margin:10px auto;
	width:90%;
}
nav ul li{
	width:23%;
}
.wrapper{
	margin:1% auto;
	padding:3px;
	width:80%;
	/* 高さが壊れない文*/
	overflow: hidden;
}
@media screen and (max-width:600px){
	nav{
		margin-top:0;
	}
	.wrapper{
		margin:0;
		width:auto;
	}
	.main, .sidebase{
		margin:0 auto;
		padding:0;
		width:auto;
		float:none;
	}
	.side{
		margin:3% auto;
	}
	#headimg img{
		width:80%;
	}
}

/* main string */
.main{
	background:white;
	border-radius:5px;
	margin:0 auto;
	width:98%;
	color:black;
	padding:2%;
	
}
.main h1{
	margin:0;
	
	border-bottom:dashed 1px silver;
}
.main #time{
	font-size:10px;
	text-align:right;
	margin-top:5px;
	padding:3px;
	background:#f0f0f0;
}


#twitter, #mail{
	margin:5px;
	display:inline-block;
	text-align:center;
	width:40%;
	border-radius:3px;;
}
#twitter{
	background:lightskyblue;
}
#mail{
	background:seagreen;
}
/* header設定*/
header{
	border-top:solid 5px orange;
	border-bottom:solid 3px silver;
	text-align:center;
	background:white;
}
#headimg img{
	width:80%;
	min-width:350px;
	max-width:800px;
}
/* footer設定*/
footer{
	text-align: center;
	background:white;

		
}
footer p{
	padding:20px 0 10px;
}