/*slide config*/
.slide{
    background: #cccccc;
    height: 300px;
}
#slideshow{
    position: relative;
    margin: 0 auto;
    width:60%;
    height: 100%;
}
#slideshow img{
    width: 100%;
    height: 100%;
}
#slideshow img {
    position: absolute;
    top: 0;
    left:0;
    z-index: 0;
    opacity: 0.0;
}
#slideshow img.active {
    z-index: 1;
    opacity: 1.0;
}
#slideshow img.last-active {
    z-index: 0;
}
/*top-img end*/
/*contents config*/

.contents, .side-contents{
    background: white;
    margin: 1%;
    padding:0 5% ;
    border-radius:10px;
}
@media screen and (max-width:600px){
    /*Optimize for smart phones*/
    .title{
        height:30px;
    }
    .in-title{
        font-size:20px;
        line-height:30px;
    }
    .slide{
        height:200px;
    }
    #slideshow{
        width: 100%;
    }
    .contents, .side-contents{
        margin:2% 0;
        border-radius:0px;
    }
    .social{
        text-align: center;
    }
    .social a{
        width: 52%;
    }
}
