.body div, body header, body footer{
    text-align: center;
}
body{
    background:aliceblue;
}
body, html, .body{
    height:100%;
    margin:0;
    padding:0;
}

/*header config*/
header{
    height: 90px;
    border-bottom: solid 1px black;
}
.in-header{
    height:50px;
    padding: 20px 0;
    background: white;
}
body header .header-string{
    line-height: 50px;

}
.header-string{
    height: 100%;
}
.in-header-left{
    display:none;
    float: left;
    margin-left:10px;
    width:38px;
    height:38px;
    border:solid 1px silver;
    border-radius: 7px
}
.in-header-right{
}
/*header end*/

/*header in-button*/
.in-button{
    margin:4px;
    width: 30px;
    height: 30px;
}
.in-button div{
    width:70%;
    margin:8px auto;
    border: solid 1px #555555;
}
/*header in-button end*/
/*nav box config*/
.nav-box{
    background:rgba(0,0,0,0.7);
}
.nav{
    display: table;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;
}
.nav li{
    display: table-cell;
    min-width: 50px;
}
.nav li a{
    display: block;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.nav li.current{
    border: 3px solid #555;
}
.nav li.current a{
    color: #555;
}
.nav li a:hover{
    color: #E71B1F;
}
/*nav box end*/

/*slide config*/
.slide{
    background: #cccccc;
    height: 300px;
}
#slideshow{
    position: relative;
    margin: 0 auto;
    width:60%;
    height: 100%;
}
#slideshow img{
    width: 100%;
    height: 100%;
}
#slideshow img {
    position: absolute;
    top: 0;
    left:0;
    z-index: 0;
    opacity: 0.0;
}
#slideshow img.active {
    z-index: 1;
    opacity: 1.0;
}
#slideshow img.last-active {
    z-index: 0;
}
/*top-img end*/

/*contents config*/
.containers{
    margin:0 auto;
    height:100%;
}
.contents, .side-contents{
    background: white;
    margin:3% 10% 0;
    padding:0 5% ;
    border-radius:10px;
}
.in-title{
    margin:0 auto;

    line-height:40px;
    height: 100%;
    color:#a3a3ff;
    font-size: 30px;
    font-family:'Sego';
}
/*contents end*/

/*contents string*/
.title{
    border-bottom:dashed 2px silver;
    padding: 10px 0;
    height:40px;
}
.in-containers{
    height: calc(100% - 72px);
}
.in-string{
    padding:10px 0;
    height: calc(100% - 20px);
}
/*end*/
/*side*/
.social a{
    margin:10px 0;
    width:100px;
}
.twitter {
    background-color: #008DDE;

    display: inline-block;
    position: relative;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 14px 80px;
}
.twitter:hover {
    background-color: #1397D8;
}

/*footer config*/
footer{
    background:#42a0ff;
    color: white;
    height: 100px;
    padding:30px 0 10px;
    margin-top:10px;
}
.in-footer{
    height: 100%;
    width: 98%;
    margin: 0 auto;
}
.footer-string{
    height:70%;
    line-height:70px;
}
.footer-nav{
    height: 30%;
}
/*footer end*/
/*footer nav*/
.in-nav{
    display: table;
    margin:0 auto;
    padding: 0;
}
.in-nav li{
    display: table-cell;
    text-decoration:none;
    font-weight: bold;
    min-width:120px;
    padding:3px 0;
}
/*end*/

/*drawer config*/
.drawer-nav{
    background:rgba(77,67,152,0.7);
}
.menu-title{
    background:rgba(5,130,255,1);
    width: 100%;
    height:60px;
    text-align: center;
    line-height:60px;
}
.between{
    background:rgba(77,67,152,0.6);
    color: white;
    height:50px;
    text-align: center;
    line-height: 50px;
}
.menu-nav ul{
    padding:0;
    margin: 0;
    list-style: none;
    color: white;
}
.menu-nav ul li{
    padding:10px 10px 10px 30px;
    height: 30px;
    line-height:30px;
    border-bottom:solid 1px silver;
}
.menu-nav ul li:hover{
    color: red;
    background:rgba(77,67,152,0.9);
}

.nav-social{
    margin:30px;
    height: 200px;
}
/*slideshow config*/


/*config for smart phones*/
@media screen and (max-width:600px){

    .nav-box{
        display: none;
    }

    .in-header-left{
        float:left;
        display: inline-block;
    }
    .in-header-right{
        float: right;
        display: inline-block;
        width: calc(100% - 70px);
    }
    .in-nav li{
        min-width:73px;
    }
    /*Optimize for smart phones*/
    .title{
        height:30px;
    }
    .in-title{
        font-size:20px;
        line-height:30px;
    }
    header{
        height: 60px;
    }
    .in-header{
        height:40px;
        padding:10px 0;
    }
    .in-header-right{
        line-height:40px;
    }
    .slide{
        height:200px;
    }

    #slideshow{
        width: 100%;
    }
    .contents, .side-contents{
        margin:2% 0;
        border-radius:0px;
    }
    .social a{
        width: 45%;
    }
}
